.input {
  display: block;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius-md);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-color: var(--border-primary);
  box-shadow: var(--shadow-xs);
  outline: none;
  font-family: inherit;

  &::placeholder {
    color: var(--text-placeholder);
  }

  &:focus {
    border-color: var(--brand-300);
    box-shadow:
      0 0 0 4px var(--brand-100),
      var(--shadow-xs);
  }

  &[data-disabled] {
    background-color: var(--bg-disabled);
    color: var(--text-disabled);
    cursor: not-allowed;
    box-shadow: none;
  }

  &--error {
    border-color: var(--border-error);

    &:focus {
      border-color: var(--error-300);
      box-shadow:
        0 0 0 4px var(--error-100),
        var(--shadow-xs);
    }
  }

  &--size-sm {
    height: 2.25rem;
    padding: 0 var(--spacing-md);
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &--size-md {
    height: 2.5rem;
    padding: 0 var(--spacing-lg);
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
